.eachSpeech {
  /* border-radius: 5px; */
  color: grey;
  text-align: left;
  max-width: 580px;
  padding: 5px;
  margin: 5px;
}
.emptySpeech {
  color: grey;
}
.focus {
  color: white;
}

.response {
  text-align: right;
  border-bottom: 1px solid grey;
}
