.eachSpeech {
  font-size: 15px;
  color: white;
  padding: 0px 2px 6px 2px;
  margin: 10px;
  text-align: left;
  border-radius: 5px;
}

.eachSpeech:hover {
  transform: scale(1.005);
  background-color: rgba(255, 255, 0, 0.2);
  box-shadow: rgba(255, 255, 0, 0.2) 0 0 5px 5px;
  cursor: pointer;
}

.input {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding-top: 5px;
}

.output {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-top: 5px;
  -webkit-justify-content: flex-end;
}

.speechDate {
  text-align: left;
  font-size: 10px;
  color: rgb(167, 167, 167);
}

.starButton {
  color: rgba(255, 255, 0, 0.25);
  font-size: 20px;
  float: right;
  padding-right: 8px;
  z-index: 2;
}

.starButton:hover {
  animation: starHover 0.5s ease-in-out;
}

@keyframes starHover {
  0% {
    color: rgba(255, 255, 0, 1);
  }
  15% {
    color: rgba(255, 255, 0, 0.5);
  }
  30% {
    color: rgba(255, 255, 0, 0.25);
  }
  45% {
    color: rgba(255, 255, 0, 0);
  }
  60% {
    color: rgba(255, 255, 0, 0.25);
  }
  75% {
    color: rgba(255, 255, 0, 0.5);
  }
  90% {
    color: rgba(255, 255, 0, 0.75);
  }
  100% {
    color: rgba(255, 255, 0, 0.5);
  }
}

.buttonStarred {
  color: yellow;
}

.addButton {
  color: rgb(116, 155, 38);
  font-weight: bold;
  font-size: 15px;
  float: right;
  padding-right: 8px;
  padding-top: 4px;
  z-index: 2;
}

.addButton:hover {
  transform: scale(1.25);
  color: rgb(186, 255, 47);
}

.deleteButton {
  color: grey;
  font-weight: bold;
  font-size: 21px;
  float: right;
  z-index: 2;
}

.deleteButton:hover {
  animation: deleteHover 0.5s linear;
  color: rgba(255, 0, 0, 1);
}

@keyframes deleteHover {
  0% {
    color: rgba(255, 0, 0, 1);
  }
  15% {
    color: rgba(255, 0, 0, 0.5);
  }
  30% {
    color: rgba(255, 0, 0, 0.25);
  }
  45% {
    color: rgba(255, 0, 0, 0);
  }
  60% {
    color: rgba(255, 0, 0, 0.25);
  }
  75% {
    color: rgba(255, 0, 0, 0.5);
  }
  90% {
    color: rgba(255, 0, 0, 0.75);
  }
  100% {
    color: rgba(255, 0, 0, 1);
  }
}

.textBubble {
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 2px 12px 2px 12px;
  max-width: 80%;
  box-shadow: 3px 3px 5px black;
}

.inputTextBubble {
  text-align: left;
  color: black;
  background-color: #e9e9eb;
}

.outputTextBubble {
  text-align: right;
  color: white;
  background-color: #468cf7;
}

.outputTextBlink {
  animation: blink infinite 1s linear;
}

@keyframes blink {
  0% {
    transform: scale(1);
    opacity: 50%;
  }
  50% {
    transform: scale(1.25);
    opacity: 100%;
  }
  100% {
    transform: scale(1);
    opacity: 50%;
  }
}
