.eachSpeech {
  color: white;
  padding: 3px 10px 15px 10px;
  margin: 5px;
  text-align: left;
  z-index: 1;
}
.eachSpeech:hover {
  transform: scale(1.005);
  background-color: rgba(255, 255, 0, 0.075);
  cursor: pointer;
}

.input {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding-top: 5px;
}
.output {
  display: flex;
  flex-direction: row;

  justify-content: end;
  padding-top: 5px;
  -webkit-justify-content: flex-end;
}
.speechDate {
  text-align: left;
  font-size: 10px;
  color: grey;
}

.starButton {
  font-size: 25px;
  float: right;
  color: rgba(255, 255, 0, 0.11);
  margin-right: 4px;
  /* margin-top: 2px; */
  z-index: 2;
}
.starButton:hover {
  transform: scale(1.2);
  color: yellow;
}

.buttonStarred {
  color: yellow;
}

.deleteButton {
  font-size: 22px;
  float: right;
  color: rgba(255, 0, 0, 0.144);
  margin-right: 4px;
  margin-top: 3px;
  z-index: 2;
}

.deleteButton:hover {
  transform: scale(1.2);
  color: red;
}

.textBubble {
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 4px 13px;
  max-width: 80%;
}

.inputTextBubble {
  text-align: left;
  color: black;
  background-color: #e9e9eb;
}
.outputTextBubble {
  text-align: right;
  color: white;
  background-color: #468cf7;
}
.outputTextBlink {
  animation: blink infinite 1s linear;
}

@keyframes blink {
  0% {
    transform: scale(1);
    opacity: 50%;
  }
  50% {
    transform: scale(1.25);
    opacity: 100%;
  }
  100% {
    transform: scale(1);
    opacity: 50%;
  }
}
