.navBackground {
  /* background-color: black; */
  width: 100vw;
  padding-top: 10px;
}
.navButton {
  padding: 5px;
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 10px;
  color: white;
}
