.navBackground {
  /* background-color: black; */
  width: 100vw;
  padding-top: 10px;
}
.navButton {
  padding: 2px 5px;
  text-decoration: none;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-radius: 5px;
  color: white;
}

.title {
  font-size: 20px;
  font-weight: bold;
}
