.navBackground {
  width: 100vw;
  padding-top: 25px;
  margin-bottom: -30px;
  z-index: 1;
}

.navButton {
  padding: 2px 15px;
  text-decoration: none;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-radius: 5px;
  color: white;
}

.navButton:hover {
  background-color: rgba(255, 255, 0, 0.075);
  cursor: pointer;
}

.title {
  font-size: 35px;
  font-weight: bold;
}
