.App {
  text-align: center;
}
.bracketContainer {
  color: white;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-radius: 30px;
  width: 99vw;
  max-width: 800px;
  height: 100%;
  min-height: 300px;
  margin: auto;
  padding: 15px 5px;
}

.recordingBar {
  font-size: 0px;
}

.recordingBarOn {
  animation: recordGlow 2s linear infinite;
}

@keyframes recordGlow {
  0% {
    box-shadow: red 0px 0px 100px 0px;
  }
  50% {
    box-shadow: red 0px 0px 100px 60px;
  }
  0% {
    box-shadow: red 0px 0px 100px 00px;
  }
}
