.App {
  text-align: center;
}

.speechContainer {
  color: white;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-radius: 30px;
  width: 99vw;
  max-width: 800px;
  height: calc(90vh - 150px);
  min-height: 200px;
  margin: auto;
  padding: 15px 5px;
}
