.languageSelect {
  background-color: black;
  background: black;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  width: 150px;
  padding: 5px;
  /* -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; */
}

.speakButton {
  /* border: 1px solid white; */
  /* border-radius: 50px; */
  border: none;
  padding: 10px;
  font-size: 10vmin;
  background-color: transparent;
  color: rgb(153, 31, 31);
  margin-top: -50px;
}
.recordingStop {
  font-size: 12vmin;
}
