.languageSelect {
  background-color: black;
  background: black;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  width: 39vw;
  max-width: 150px;
  padding: 5px;
}

.speakButton {
  border: none;
  padding: 10px;
  font-size: 50px;
  background-color: transparent;
  color: rgb(207, 9, 9);
  margin-top: -35px;
}

.microphone {
  color: white;
  height: 50px;
  cursor: pointer;
}
.microphone:hover {
  transform: scale(1.1);
}

.recordingStop {
  margin-top: -18px;
  font-size: 60px;
  animation: pulse 0.5s linear infinite;
  cursor: pointer;
}
@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.25, 1.25);
  }

  100% {
    transform: scale(1, 1);
  }
}
.loading {
  margin-top: -50px;
  max-height: 45px;
  animation: loading 0.5s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.emptyPrompt {
  padding-top: 20px;
  font-size: 20px;
  color: grey;
}

.deleteAllButton {
  font-size: 20px;

  color: rgba(255, 0, 0, 0.425);

  z-index: 2;
}
.deleteAllButton:hover {
  color: red;
}

.dialogue {
  overflow: scroll;
  height: calc(85vh - 215px);
}
.dialogueFadeTop {
  mask-image: linear-gradient(0deg, #000 90%, transparent);
}
.dialogueFadeBottom {
  mask-image: linear-gradient(180deg, #000 97%, transparent);
}

.swapArrow {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 2px;
  height: 0px;
  /* border: 1px solid #d5d5d5; */
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: transparent;
  color: transparent;
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #b0b0b0;
}
